<h1>Listing drugs</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Kind</th>
    <th>Quantity</th>
    <th>Observations</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drugs.each do |drug| %>
  <tr>
    <td><%= drug.id %></td>
    <td><%= drug.kind %></td>
    <td><%= drug.quantity %></td>
    <td><%= drug.observations %></td>
    <td><%= link_to 'Show', drug %></td>
    <td><%= link_to 'Edit', edit_drug_path(drug) %></td>
    <td><%= link_to 'Destroy', drug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Drug', new_drug_path %>
