<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @drug.id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @drug.quantity %>
</p>

<p>
  <b>Observations:</b>
  <%= @drug.observations %>
</p>


<%= link_to 'Edit', edit_drug_path(@drug) %> |
<%= link_to 'Back', drugs_path %>
