<h1>Catalogos</h1>
<li><%= link_to t(:wdrugs), drugs_path %></li>
<li><%= link_to t(:waddress), addresses_path%></li>
<li><%= link_to t(:wanalista), analysts_path%></li> 
<li><%= link_to t(:wcrimes), crimes_path %></li>
<li><%= link_to t(:wplaces), places_path%></li>
<li><%= link_to t(:towns), townships_path%></li>
