<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @locality.id %>
</p>

<p>
  <b>Township:</b>
  <%= @locality.township_id %>
</p>

<p>
  <b>Locality:</b>
  <%= @locality.locality %>
</p>


<%= link_to 'Edit', edit_locality_path(@locality) %> |
<%= link_to 'Back', localities_path %>
