<h1>Listing people</h1>
<div class="CSSTableGenerator">
<table>
  <tr>
    <th>Id</th>
    <th>Ci</th>
    <th>First name</th>
    <th>Last name1</th>
    <th>Last name2</th>
    <th>Alias</th>
    <th>Birth date</th>
    <th>Originative</th>
    <th>Genre</th>
    <th>Record</th>
    <th>Profession</th>
    <th>Observations</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.id %></td>
    <td><%= person.ci %></td>
    <td><%= person.first_name %></td>
    <td><%= person.last_name1 %></td>
    <td><%= person.last_name2 %></td>
    <td><%= person.alias %></td>
    <td><%= person.birth_date %></td>
    <td><%= person.originative %></td>
    <td><%= person.genre %></td>
    <td><%= person.record %></td>
    <td><%= person.profession %></td>
    <td><%= person.observations %></td>
    <td><%= person.status.description %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New Person', new_person_path %>
