<%= form_for(@status) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
        <% @status.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <% status_type={"persona"=>"persona","evento"=>"evento"} %>
  <div class="field">
    <%= f.label :status_type %><br />
    <%= f.select :status_type,status_type,selected: "persona" %>
  </div>
  <div class="actions">
        <%= button_tag( :class => "btn btn-primary") do %>
          <i class="icon-save icon-white"> </i> <%=t(:wsave)%> <%= eval("t(:w" + controller_name + ")") %>
        <% end %>
      </div>
<% end %>
