<h1>Listing statuses</h1>
<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Status type</th>
        <th>actions</th>
      </tr>
    </thead>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.id %></td>
        <td><%= status.description %></td>
        <td><%= status.status_type %></td>
        <td>
          <ul class="nav nav-pills">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" title='<%=t(:actions)%>'><i class="icon-cog"></i>&nbsp;<i class="icon-caret-down"></i></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Show', status %></li>
                <li><%= link_to 'Edit', edit_status_path(status) %></li>
                <li><%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </ul>
            </li>
          </ul>
        </td>

      </tr>
    <% end %>
  </table>
</div>
<br />
<%= link_to 'New Status', new_status_path, :class => "btn btn-primary" %>
