<h1>Listing weapons_types</h1>
<div  class="well ">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Id</th>
        <th>Description</th>
        <th>actions</th>
      </tr>
    </thead>
    <% @weapons_types.each do |weapons_type| %>
      <tr>
        <td><%= weapons_type.id %></td>
        <td><%= weapons_type.description %></td>
        <td>
          <ul class="nav nav-pills">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" title='<%=t(:actions)%>'><i class="icon-cog"></i>&nbsp;<i class="icon-caret-down"></i></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Show', weapons_type %></li>
                <li><%= link_to 'Edit', edit_weapons_type_path(weapons_type) %></li>
                <li><%= link_to 'Destroy', weapons_type, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<br />

<%= link_to 'New Weapons type', new_weapons_type_path, :class=>"btn btn-primary" %>
