<h1>Listing analysts</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Analyst</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @analysts.each do |analyst| %>
  <tr>
    <td><%= analyst.id %></td>
    <td><%= analyst.analyst %></td>
    <td><%= link_to 'Show', analyst %></td>
    <td><%= link_to 'Edit', edit_analyst_path(analyst) %></td>
    <td><%= link_to 'Destroy', analyst, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Analyst', new_analyst_path %>
