<p id="notice"><%= notice %></p>

<p>
  <b>Weapon:</b>
  <%= @weapon_criminalgroup.weapon_id %>
</p>

<p>
  <b>Criminal group:</b>
  <%= @weapon_criminalgroup.criminal_group_id %>
</p>


<%= link_to 'Edit', edit_weapon_criminalgroup_path(@weapon_criminalgroup) %> |
<%= link_to 'Back', weapon_criminalgroups_path %>
