<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <%= notice %>
</div>

<p>
  <b>Id:</b>
  <%= @criminal_group.id %>
</p>

<p>
  <b>Description:</b>
  <%= @criminal_group.description %>
</p>

<p>
  <b>Vehicle:</b>
  <%= @criminal_group.vehicle_id %>
</p>

<p>
  <b>Weapon:</b>
<div class="well">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Id</th>
        <th>Description</th>
      </tr>
    </thead>
    <% @criminal_group.weapons.each do |weapon| %>
      <tbody>
        <tr>
          <td><%= weapon.id %></td>
          <td><%= weapon.fulldescription %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
</p>

<p>
  <b>Drug:</b>
  <%= @criminal_group.drug_id %>
</p>

<p>
  <b>Area:</b>
  <%= @criminal_group.area_id %>
</p>


<%= link_to 'Edit', edit_criminal_group_path(@criminal_group) %> |
<%= link_to 'Back', criminal_groups_path %>
