<%= nested_form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :priority_id %><br />
    <%= f.collection_select(:priority_id, Priority.all, :id, :description, {:prompt => "seleccione prioridad"}) %>
  </div>


  <div id="datetimepicker" class="input-append date">
    <%= f.label :event_date %><br />
    <%= f.text_field :event_date%>
    <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :interior_number %><br />
    <%= f.text_field :interior_number %>
  </div>
  <div class="field">
    <%= f.label :suburb %><br />
    <%= f.text_field :suburb %>
  </div>
  <div class="field">
    <%= f.label :locality %><br />
    <%= f.text_field :locality %>
  </div>

  <div id="general-info2" class="block-body collapse in">
    <p>
      <%=f.fields_for :person do |builder| %>
        <%= render 'people_fields', :f => builder %>
      <%end%>
      <%= f.link_to_add "add a victim", :person, :class => "btn btn-primary" %>
    </p>
  </div>



  <div class="field">
    <%= f.label :victims %><br />
    <%= f.check_box :victims %>
  </div>
  <div class="field">
    <%= f.label :victim_id %><br />
    <%= f.number_field :victim_id %>
  </div>
  <div class="field">
    <%= f.label :detained %><br />
    <%= f.check_box :detained %>
  </div>
  <div class="field">
    <%= f.label :detained_id %><br />
    <%= f.number_field :detained_id %>
  </div>
  <div class="field">
    <%= f.label :suspects %><br />
    <%= f.check_box :suspects %>
  </div>
  <div class="field">
    <%= f.label :suspect_id %><br />
    <%= f.number_field :suspect_id %>
  </div>
  <div class="field">
    <%= f.label :vehicles %><br />
    <%= f.check_box :vehicles %>
  </div>
  <div class="field">
    <%= f.label :vehicle_id %><br />
    <%= f.number_field :vehicle_id %>
  </div>
  <div class="field">
    <%= f.label :drugs %><br />
    <%= f.check_box :drugs %>
  </div>
  <div class="field">
    <%= f.label :drug_id %><br />
    <%= f.number_field :drug_id %>
  </div>
  <div class="field">
    <%= f.label :weapons %><br />
    <%= f.check_box :weapons %>
  </div>
  <div class="field">
    <%= f.label :weapon_id %><br />
    <%= f.number_field :weapon_id %>
  </div>
  <div class="field">
    <%= f.label :observations %><br />
    <%= f.text_area :observations %>
  </div>
  <div class="field">
    <%= f.label :backup_file %><br />
    <%= f.text_field :backup_file %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :analist_id %><br />
    <%= f.number_field :analist_id %>
  </div>
  <div class="field">
    <%= f.label :area_id %><br />
    <%= f.number_field :area_id %>
  </div>
  <div class="field">
    <%= f.label :crime_id %><br />
    <%= f.number_field :crime_id %>
  </div>
  <div class="field">
    <%= f.label :township_id %><br />
    <%= f.number_field :township_id %>
  </div>
  <div class="field">
    <%= f.label :place_id %><br />
    <%= f.number_field :place_id %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br />
    <%= f.number_field :status_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
</script> 
<script type="text/javascript"
        src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
</script>
<script type="text/javascript"
        src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
</script>

<script type="text/javascript">
  $('#datetimepicker').datetimepicker({
    format: 'dd/MM/yyyy hh:mm:ss',
    language: 'es-ES'
  });
</script>