<div class="block">
  <a href="#person" class="block-heading" data-toggle="collapse">New person</a>
  <div id="person" class="block-body collapse in">
    <div class="control-group">
      <div class="control-group">

        <div class="field">
          <%= f.label t(:ci) %><br />
          <%= f.text_field :ci %>
        </div>
        <div class="field">
          <%= f.label t'.first_name' %><br />
          <%= f.text_field :first_name%>
        </div>
        <div class="field">
          <%= f.label t'.last_name1' %><br />
          <%= f.text_field :last_name1 %>
        </div>
        <div class="field">
          <%= f.label t'.last_name2' %><br />
          <%= f.text_field :last_name2 %>
        </div>
        <div class="field">
          <%= f.label :alias %><br />
          <%= f.text_field :alias %>
        </div>

        <div class="field">
          <%= f.label t'.birth_date'%><br />
          <%= f.text_field :birth_date, :id => "dp1"%> <i class="icon-th"></i>
        </div>

        <div class="field">
          <%= f.label t'.originative' %><br />
          <%= f.text_field :originative %>
        </div>
        <div class="field">
          <%= f.label t'.genre' %><br />
          <%= f.text_field :genre %>
        </div>
        <div class="field">
          <%= f.label t'.record' %><br />
          <%= f.check_box :record %>
        </div>
        <div class="field">
          <%= f.label t'.profession' %><br />
          <%= f.text_field :profession %>
        </div>
        <div class="field">
          <%= f.label t'.observations' %><br />
          <%= f.text_area :observations %>
        </div>
        <div class="field">
          <%= f.label :status_id %><br />
          <%= f.collection_select(:status_id, Status.where(:status_type => "persona"), :id, :description, {:prompt => "seleccione el estatus de la persona"}) %>
        </div>



        <%=f.link_to_remove "Remove Person",:class => 'btn btn-danger'%>
      </div>
    </div>
  </div>
</div>