<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <li><%=link_to t(:home), "welcome/index"%><span class="divider">/</span> </li>
    <li><%=link_to t(:wevents), events_path%><span class="divider">/</span></li>
    <li class="active"><%=t(:index)%></li>
  </ul>
<%end%>

<div class="well">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th><%=t'.Priority'%></th>
        <th><%=t'.Event_date'%></th>
        <th><%=t'.Description'%></th>
        <th><%=t'.Locality'%></th>
        <th><%=t'.Source'%></th>
        <th><%=t'.Analyst'%></th>
        <th><%=t'.Zone'%></th>
        <th><%=t'.Crime'%></th>
        <th><%=t'.Township'%></th>
        <th><%=t'.Place'%></th>
        <th><%=t'.Status_event'%></th>
        <th></th>
      </tr>
    </thead>
    <% @events.each do |event| %>
      <tbody>
        <tr>
          <td><%= event.priority.description %></td>
          <td><%= event.event_date %></td>
          <td><%= event.description.truncate(25, :omission => "...") %><%= link_to '(continua)', event %></td>
          <td><%= event.locality %></td>
          <%# if event.source %>
          <td><%= event.source.truncate(15, :omission => "...") %> </td>
          <td><%= event.analyst.analyst %></td>
          <td><%= event.area.description %></td>
          <td><%= event.crime.crime %></td>
          <td><%= event.township.township %></td>
          <td><%= event.place.place %></td>
          <td><%= event.status.description %></td>
          <td>
            <ul class="nav nav-pills">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" title='<%=t(:actions)%>'><i class="icon-cog"></i>&nbsp;<i class="icon-caret-down"></i></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Show', event %></li>
                  <li><%= link_to 'Edit', edit_event_path(event) %></li>
                  <li><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <br />

  <%= link_to 'New Event', new_event_path, :class => "btn btn-primary" %>
