
<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <li><%=link_to t(:home), "welcome/index"%><span class="divider">/</span> </li>
    <li><%=link_to t(:wevents), events_path%><span class="divider">/</span></li>
    <li class="active"><%=t(:index)%></li>
  </ul>
<%end%>
<div  class="well ">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Id</th>
        <th><%=t'.Priority'%></th>
        <th><%=t'.Event_date'%></th>
        <th><%=t'.Description'%></th>
        <th><%=t'.Street'%></th>
        <th><%=t'.Interior_number'%></th>
        <th><%=t'.Colony'%></th>
        <th><%=t'.Victims'%></th>
        <th><%=t'.Detained'%></th>
        <th><%=t'.Suspect'%></th>
        <th><%=t'.Vehicle'%></th>
        <th><%=t'.Drug'%></th>
        <th><%=t'.Weapon'%></th>
        <th><%=t'.Observation'%></th>
        <th><%=t'.Backup_files'%></th>
        <th><%=t'.Source'%></th>
        <th><%=t'.Analyst'%></th>
        <th><%=t'.Zone'%></th>
        <th><%=t'.Crime'%></th>
        <th><%=t'.Township'%></th>
        <th><%=t'.Place'%></th>
        <th><%=t'.Status_event'%></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% @events.each do |event| %>
      <tbody>
        <tr>
          <td><%= event.id %></td>
          <td><%= event.priority_id %></td>
          <td><%= event.event_date %></td>
          <td><%= event.description %></td>
          <td><%= event.street %></td>
          <td><%= event.interior_number %></td>
          <td><%= event.suburb %></td>
          <td><%= event.locality %></td>
          <td><%= event.victims %></td>
          <td><%= event.victim_id %></td>
          <td><%= event.detained %></td>
          <td><%= event.detained_id %></td>
          <td><%= event.suspects %></td>
          <td><%= event.suspect_id %></td>
          <td><%= event.vehicles %></td>
          <td><%= event.vehicle_id %></td>
          <td><%= event.drugs %></td>
          <td><%= event.drug_id %></td>
          <td><%= event.weapons %></td>
          <td><%= event.weapon_id %></td>
          <td><%= event.observations %></td>
          <td><%= event.backup_file %></td>
          <td><%= event.source %></td>
          <td><%= event.analist_id %></td>
          <td><%= event.area_id %></td>
          <td><%= event.crime_id %></td>
          <td><%= event.township_id %></td>
          <td><%= event.place_id %></td>
          <td><%= event.status_id %></td>
          <td>
            <ul class="nav nav-pills">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" title='<%=t(:actions)%>'><i class="icon-cog"></i>&nbsp;<i class="icon-caret-down"></i></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Show', event %></li>
                  <li><%= link_to 'Edit', edit_event_path(event) %></li>
                  <li><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br />

  <%= link_to 'New Event', new_event_path, :class => "btn btn-primary" %>
