<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @event.id %>
</p>

<p>
  <b>Priority:</b>
  <%= @event.priority.description %>
</p>

<p>
  <b>Event date:</b>
  <%= @event.event_date %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Street:</b>
  <%= @event.street %>
</p>

<p>
  <b>Interior number:</b>
  <%= @event.interior_number %>
</p>

<p>
  <b>Suburb:</b>
  <%= @event.suburb %>
</p>

<p>
  <b>Locality:</b>
  <%= @event.locality %>
</p>

<div class="block">
  <a href="#victims" class="block-heading" data-toggle="collapse"><%= pluralize(@event.person.where(:status_id=>10001).count, "Victim") %></a>
  <div id="victims" class="block-body collapse">
    <div class="control-group">
      <%@event.person.where(:status_id => 10001).each do |person|%>
      <ul>
        <li><%=person.fullname %></li>
      </ul>
      <%end%>
    </div>
  </div>
</div>

<div class="block">
  <a href="#detained" class="block-heading" data-toggle="collapse"><%= pluralize(@event.person.where(:status_id=>10000).count, "Detenido") %></a>
  <div id="detained" class="block-body collapse">
    <div class="control-group">
      <%@event.person.where(:status_id => 10000).each do |person|%>
      <ul>
        <li><%=person.fullname %></li>
      </ul>
      <%end%>
    </div>
  </div>
</div>

<p>
  <b>Detained:</b>
  <%= @event.detained_id %>
</p>

<p>
  <b>Suspects:</b>
  <%= @event.suspects %>
</p>

<p>
  <b>Suspect:</b>
  <%= @event.suspect_id %>
</p>

<p>
  <b>Vehicles:</b>
  <%= @event.vehicles %>
</p>

<p>
  <b>Vehicle:</b>
  <%= @event.vehicle_id %>
</p>

<p>
  <b>Drugs:</b>
  <%= @event.drugs %>
</p>

<p>
  <b>Drug:</b>
  <%= @event.drug_id %>
</p>

<p>
  <b>Weapons:</b>
  <%= @event.weapons %>
</p>

<p>
  <b>Weapon:</b>
  <%= @event.weapon_id %>
</p>

<p>
  <b>Observations:</b>
  <%= @event.observations %>
</p>

<p>
  <b>Backup file:</b>
  <%= @event.backup_file %>
</p>

<p>
  <b>Source:</b>
  <%= @event.source %>
</p>

<p>
  <b>Analist:</b>
  <%= @event.analist_id %>
</p>

<p>
  <b>Area:</b>
  <%= @event.area_id %>
</p>

<p>
  <b>Crime:</b>
  <%= @event.crime_id %>
</p>

<p>
  <b>Township:</b>
  <%= @event.township_id %>
</p>

<p>
  <b>Place:</b>
  <%= @event.place_id %>
</p>

<p>
  <b>Status:</b>
  <%= @event.status_id %>
</p>


<%= link_to 'Edit', edit_event_path(@event), :class => "btn btn-primary" %> |
<%= link_to 'Back', events_path,:class => "btn btn-danger" %>
