<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <li><%=link_to t(:home), root_path %><span class="divider">/</span> </li>
    <li><%=link_to t(:wevents), events_path%><span class="divider">/</span></li>
    <li class="active"><%= @event.id %></li>
  </ul>
<%end%>

<% if flash[:notice] %>
  <div class="alert alert-info"><button type="button" class="close" data-dismiss="alert">×</button>
    <%= flash[:notice] %>
  <% end %>
  <% if flash[:error] %>
    <h3 class="error_box"><%= flash[:error] %></h3>
  <% end %>
</div>
<div class="block">
  <p class="block-heading"><i class="icon-eye-open"> </i><%= eval("t(:w" + controller_name + ")").singularize %> <%= @event.id %></p>
  <div class="block-body">

    <p>
      <b>Priority:</b>
      <%= @event.priority.description %>
    </p>

    <p>
      <b>Event date:</b>
      <%= @event.event_date %>
    </p>

    <p>
      <b>Description:</b>
      <%= @event.description %>
    </p>

    <p>
      <b>Street:</b>
      <%= @event.street %>
    </p>

    <p>
      <b>Interior number:</b>
      <%= @event.interior_number %>
    </p>

    <p>
      <b>Suburb:</b>
      <%= @event.suburb %>
    </p>

    <p>
      <b>Locality:</b>
      <%= @event.locality %>
    </p>

    <div class="block">
      <a href="#victims" class="block-heading" data-toggle="collapse"><%= pluralize(@event.person.where(:status_id=>10001).count, "Victima") %></a>
      <div id="victims" class="block-body collapse">
        <div class="control-group">
          <%@event.person.where(:status_id => 10001).each do |person|%>
            <ul class="inline">
              <li><i class="icon-user"> </i> </i> <%=person.fullname %></li>
            </ul>
          <%end%>
        </div>
      </div>
    </div>

    <div class="block">
      <a href="#detained" class="block-heading" data-toggle="collapse"><%= pluralize(@event.person.where(:status_id=>10000).count, "Detenido") %></a>
      <div id="detained" class="block-body collapse">
        <div class="control-group">
          <%@event.person.where(:status_id => 10000).each do |person|%>
            <ul>
              <li><%=person.fullname %></li>
            </ul>
          <%end%>
        </div>
      </div>
    </div>

    <div class="block">
      <a href="#suspects" class="block-heading" data-toggle="collapse"><%= pluralize(@event.person.where(:status_id=>10002).count, "Sospechoso") %></a>
      <div id="suspects" class="block-body collapse">
        <div class="control-group">
          <%@event.person.where(:status_id => 10002).each do |person|%>
            <ul>
              <li><%=person.fullname %></li>
            </ul>
          <%end%>
        </div>
      </div>
    </div>

    <div class="block">
      <a href="#vehicles" class="block-heading" data-toggle="collapse"><%= pluralize(@event.vehicles.count, "Vehiculo")%></a>
      <div id="vehicles" class="block-body collapse">
        <div class="control-group">
          <%@event.vehicles.each do |vehicle|%>
            <ul>
              <li><%vehicle.fulldescription %></li>
            </ul>
          <%end%>
        </div>
      </div>
    </div>

    <div class="block">
      <a href="#weapons" class="block-heading" data-toggle="collapse"><%= pluralize(@event.weapons.count, "Arma")%></a>
      <div id="weapons" class="block-body collapse">
        <div class="control-group">
          <%@event.weapons.each do |weapon|%>
            <ul>
              <li><%weapons.fulldescription %></li>
            </ul>
          <%end%>
        </div>
      </div>
    </div>

    <div class="block">
      <a href="#drugs" class="block-heading" data-toggle="collapse"><%= pluralize(@event.drug.count, "Droga")%></a>
      <div id="drugs" class="block-body collapse">
        <div class="control-group">
          <%@event.drug.each do |drugs|%>
            <ul>
              <li><%drugs.kind %></li>
            </ul>
          <%end%>
        </div>
      </div>
    </div>

    <p>
      <b>Observations:</b>
      <%= @event.observations %>
    </p>

    <p>
      <b>Backup file:</b>
      <%= @event.backup_file %>
    </p>

    <p>
      <b>Source:</b>
      <%= @event.source %>
    </p>

    <p>
      <b>Analyst:</b>
      <%= @event.analyst.analyst%>
    </p>

    <p>
      <b>Area:</b>
      <%= @event.area.description %>
    </p>

    <p>
      <b>Crime:</b>
      <%= @event.crime.crime %>
    </p>

    <p>
      <b>Township:</b>
      <%= @event.township.township %>
    </p>

    <p>
      <b>Place:</b>
      <%= @event.place.place %>
    </p>

    <p>
      <b>Status:</b>
      <%= @event.status.description %>
    </p>
  </div>
</div>


<%= link_to 'Edit', edit_event_path(@event), :class => "btn btn-primary" %> |
<%= link_to 'Back', events_path,:class => "btn btn-danger" %>
