<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @event.id %>
</p>

<p>
  <b>Priority:</b>
  <%= @event.priority_id %>
</p>

<p>
  <b>Event date:</b>
  <%= @event.event_date %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Street:</b>
  <%= @event.street %>
</p>

<p>
  <b>Interior number:</b>
  <%= @event.interior_number %>
</p>

<p>
  <b>Suburb:</b>
  <%= @event.suburb %>
</p>

<p>
  <b>Locality:</b>
  <%= @event.locality %>
</p>

<p>
  <b>Victims:</b>
  <%= @event.victims %>
</p>

<p>
  <b>Victim:</b>
  <%= @event.victim_id %>
</p>

<p>
  <b>Detained:</b>
  <%= @event.detained %>
</p>

<p>
  <b>Detained:</b>
  <%= @event.detained_id %>
</p>

<p>
  <b>Suspects:</b>
  <%= @event.suspects %>
</p>

<p>
  <b>Suspect:</b>
  <%= @event.suspect_id %>
</p>

<p>
  <b>Vehicles:</b>
  <%= @event.vehicles %>
</p>

<p>
  <b>Vehicle:</b>
  <%= @event.vehicle_id %>
</p>

<p>
  <b>Drugs:</b>
  <%= @event.drugs %>
</p>

<p>
  <b>Drug:</b>
  <%= @event.drug_id %>
</p>

<p>
  <b>Weapons:</b>
  <%= @event.weapons %>
</p>

<p>
  <b>Weapon:</b>
  <%= @event.weapon_id %>
</p>

<p>
  <b>Observations:</b>
  <%= @event.observations %>
</p>

<p>
  <b>Backup file:</b>
  <%= @event.backup_file %>
</p>

<p>
  <b>Source:</b>
  <%= @event.source %>
</p>

<p>
  <b>Analist:</b>
  <%= @event.analist_id %>
</p>

<p>
  <b>Area:</b>
  <%= @event.area_id %>
</p>

<p>
  <b>Crime:</b>
  <%= @event.crime_id %>
</p>

<p>
  <b>Township:</b>
  <%= @event.township_id %>
</p>

<p>
  <b>Place:</b>
  <%= @event.place_id %>
</p>

<p>
  <b>Status:</b>
  <%= @event.status_id %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
