<%= form_for(@township) do |f| %>
  <% if @township.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@township.errors.count, "error") %> prohibited this township from being saved:</h2>

      <ul>
        <% @township.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :township %><br />
    <%= f.text_field :township %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
