<h1>Listing townships</h1>

<table>
  <tr>
    <th>Di</th>
    <th>Township</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @townships.each do |township| %>
  <tr>
    <td><%= township.di %></td>
    <td><%= township.township %></td>
    <td><%= link_to 'Show', township %></td>
    <td><%= link_to 'Edit', edit_township_path(township) %></td>
    <td><%= link_to 'Destroy', township, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Township', new_township_path %>
