<p id="notice"><%= notice %></p>

<p>
  <b>Di:</b>
  <%= @township.di %>
</p>

<p>
  <b>Township:</b>
  <%= @township.township %>
</p>


<%= link_to 'Edit', edit_township_path(@township) %> |
<%= link_to 'Back', townships_path %>
