<h1>Direcciones</h1>
<div  class="well ">
  <table class="table table-condensed">
    <thead>

  <tr>
    <th>Id</th>
    <th><%=t'.Street'%> </th>
    <th><%=t'.Interior number'%> </th>
    <th><%=t'.Colony'%> </th>
    <th><%=t'.Locality'%> </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
    </thead>

<% @addresses.each do |address| %>
  <tr>
    <td><%= address.id %></td>
    <td><%= address.street %></td>
    <td><%= address.interior_number %></td>
    <td><%= address.colony %></td>
    <td><%= address.locality %></td>
    <td>
            <ul class="nav nav-pills">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" title='<%=t(:actions)%>'><i class="icon-cog"></i>&nbsp;<i class="icon-caret-down"></i></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Show', address %></li>
                  <li><%= link_to 'Edit', edit_address_path(address) %></li>
                  <li><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br />

<%= link_to 'New Address', new_address_path %>
