<%= form_for(@person_status) do |f| %>
  <% if @person_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person_status.errors.count, "error") %> prohibited this person_status from being saved:</h2>

      <ul>
      <% @person_status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

ass="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
