<h1>Listing person_statuses</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @person_statuses.each do |person_status| %>
  <tr>
    <td><%= person_status.id %></td>
    <td><%= person_status.description %></td>
    <td><%= link_to 'Show', person_status %></td>
    <td><%= link_to 'Edit', edit_person_status_path(person_status) %></td>
    <td><%= link_to 'Destroy', person_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person status', new_person_status_path %>
