<%= form_for(@vehicles_criminalgroup) do |f| %>
  <% if @vehicles_criminalgroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicles_criminalgroup.errors.count, "error") %> prohibited this vehicles_criminalgroup from being saved:</h2>

      <ul>
      <% @vehicles_criminalgroup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vehicle_id %><br />
    <%= f.number_field :vehicle_id %>
  </div>
  <div class="field">
    <%= f.label :criminal_group_id %><br />
    <%= f.number_field :criminal_group_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
