<!DOCTYPE html>
<html>
  <head>
    <title>SigeProyecto</title>
    <%#= stylesheet_link_tag    "application", :media => "all" %>
    <%#= stylesheet_link_tag    "estilo", :media => "all" %>
    <%#= stylesheet_link_tag    "style", :media => "all" %>
    <%#= stylesheet_link_tag    "style_evento", :media => "all" %>
    <%= stylesheet_link_tag    "style_login", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "interface" %>
    <%= javascript_include_tag "jquery" %>
    <%= csrf_meta_tags %>
  </head>
  <body>


    <h1><%= link_to t(:whome), { :controller => "welcome", :action => "index" } %></h1>
    <%= yield %>

  </body>
</html>
